{{#extend "stylesheets"}}
<link rel="stylesheet" href="/css/page/home.css"/>
{{/extend}}

<div class="bg"></div>
<div class="content">
	<header class="main-header clearfix">
		<div class="wrapper">
			<h1>FIFA WORLD CUP 2014<br>PREDICTION</h1>
			<img src="/images/logo-wc2014.png" alt="" />
		</div>
	</header>
	<div class="match-result">
		<table border="0" cellpadding="10" cellpadding="0" width="100%">
			<tr>
				<td colspan="3">Match Date</td>
			</tr>
			<tr>
				<td class="col-hometeam">
					<img src = '{{getTeamFlag this.data.0._match.homeTeamId}}' />
					<span>{{this.data.0.homeName}}</span>
				</td>
				<td class="col-matchscore">
				  {{#ifCond this.data.0.status '!=' 'done'}}
				  	{{getDate this.data.0._match.startTime}} 
				  {{/ifCond}}
				  {{#ifCond this.data.0.status '==' 'done'}}
					{{this.data.0._match.homeScore}} - {{this.data.0._match.awayScore}}				  
				  {{/ifCond}}
				</td>
				<td class="col-awayteam">
					<span>{{this.data.0.awayName}}</span>
					<img src = '{{getTeamFlag this.data.0._match.awayTeamId}}' />
				</td>
			</tr>
		</table>
	</div>
	<div class="main-content match-prediction-container">
		<div class="wrapper">
			<div class="list-container clearfix">
				<a href="../" class="link-back">&larr; Back to List</a>
				<table border="0" cellpadding="20" width="100%" class="table-match-prediction">
					<thead>
						<tr>
							<th width="5%"></th>
							<th width="70%">Name</th>
							<th width="15%" class="points">Prediction</th>
							<th width="5%">Score</th>
						</tr>
					</thead>
					{{#foreach this.data}}
					<tr class="row-predict">
						<td>{{math this.$index "+" 1}}</td>
						<td class="col-name">
							<a href='/user/{{this._user._id}}'> 
								{{this._user.firstname}} {{this._user.lastname}}
							</a>
						</td>
						<td class="col-score score-{{getScoreType this.score}}">
							{{getMatchScore this.homeScore}} - {{getMatchScore this.awayScore}}	
						</td>
						<td class="points">{{getMatchScore this.score}}</td>
					</tr>
					{{/foreach}}
				</table>
			</div>
		</div>
	</div>
</div>

{{#extend "js"}}
	<script>
	
	$(function(){
		var matchTop = $('.match-result').offset().top;
		$(window).scroll(function(){
			setTimeout(adjustMatchResult, 100);
		});

		function adjustMatchResult(){
			var scrollTop = $(window).scrollTop();
			if(matchTop < scrollTop){
				$('.match-result').addClass('fixed');
			}else{
				$('.match-result').removeClass('fixed');
			}			
		}
	});
	</script>
{{/extend}}
