{{#extend "stylesheets"}}
<link rel="stylesheet" href="/css/page/home.css"/>
{{/extend}}

<div class="bg"></div>
<div class="content">
	<header class="main-header clearfix">
		<div class="wrapper">
			<h1>FIFA WORLD CUP 2014<br>PREDICTION</h1>
			<img src="/images/logo-wc2014.png" alt="" />
		</div>
	</header>
	<div class="main-content">
		<div class="wrapper">
			<h1>{{this.data.0._user.firstname}} {{this.data.0._user.lastname}}</h1>
			<div class="list-container clearfix">
				<table border=1 cellpadding="20" class="table-predictions">
					{{#foreach this.data}}
					<tr>
						<td>
							Result
						</td>
						<td>
							<img src = '{{getTeamPic this._match.homeTeamId}}' />{{getTeamName this._match.homeTeamId}}
						</td>
						<td>
							{{this._match.homeScore}} 
						</td>
						<td>
							<img src = '{{getTeamPic this._match.awayTeamId}}' />{{getTeamName this._match.awayTeamId}}
						</td>
						<td>
							{{this._match.awayScore}}
						</td>

					</tr>
					<tr>
						<td>
							Prediction
						</td>
						<td>
							<img src = '{{getTeamPic this._match.homeTeamId}}' />{{getTeamName this._match.homeTeamId}}
						</td>
						<td>
							{{this.homeScore}} 
						</td>
						<td>
							<img src = '{{getTeamPic this._match.awayTeamId}}' />{{getTeamName this._match.awayTeamId}}
						</td>
						<td>
							{{this.awayScore}}
						</td>
						<td>
							Score: {{this.score}}
						</td>
					</tr>
					{{/foreach}}
				</table>
			</div>
		</div>
	</div>

</div>