{{#extend "stylesheets"}}
<link rel="stylesheet" href="/css/page/home.css"/>
{{/extend}}

<div class="bg"></div>
<div class="content">
	<header class="main-header clearfix">
		<div class="wrapper">
			<h1>FIFA WORLD CUP 2014<br>PREDICTION</h1>
			<img src="/images/logo-wc2014.png" alt="" />
		</div>
	</header>
	<div class="main-content">
		<div class="wrapper">
			<h1>{{this.data.0._user.firstname}} {{this.data.0._user.lastname}}</h1>
			<div class="list-container clearfix">
				<a href="../" class="link-back">&larr; Back to List</a>
				<table border=1 cellpadding="20" class="table-predictions" width="100%">
					{{#foreach this.data}}
					<tr>
						<td>
							{{getDate this._match.startTime}}
						</td>
						<td>
						Group {{this._match.group}}
						</td>
						<td class="col-hometeam">
							<figure><img src = '{{getTeamFlag this._match.homeTeamId}}' /></figure>
							<span>{{getTeamName this._match.homeTeamId}}</span>
						</td>
						<td class="col-matchscore">
							{{getMatchScore this._match.homeScore}} - {{getMatchScore this._match.awayScore}}
						</td>
						<td class="col-awayteam">
							<span>{{getTeamName this._match.awayTeamId}}</span>
							<figure><img src = '{{getTeamFlag this._match.awayTeamId}}' /></figure>
						</td>
						<td class="col-score score-{{getScoreType this.score}}">
							Score: <i>{{getMatchScore this.score}}</i> <br/>
							<span>
								{{getMatchScore this.homeScore}} - {{getMatchScore this.awayScore}}	
							</span>
						</td>

					</tr>
					{{/foreach}}
				</table>
			</div>
		</div>
	</div>
</div>